# Build the caller repo's Python package and upload it to pypi.org.
name: Publish to pypi.org
on:
  workflow_call:
    secrets:
      PYPI_TOKEN:
        required: true
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: python3 -m pip install --upgrade build && python3 -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
